
.footer{
    .footer-top{
        background-color: $bg-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .container{
            .row{
                padding: 53px 0 36px;
                margin: 0;
                .col-4{
                    .footer-title{
                        @include text($f-fam:$f-family-primary,$f-styt:normal,$f-wei:$f-weight-b,
                        $f-size:$f-size-b,$line-heig:24px,$color:$C-text-primary,$backgr-color:$bg-white);
                    }
                    ul{
                        li{
                            margin-top: 6px;
                            @include text($f-fam:$f-family-primary,$f-styt:normal,$f-wei:$f-weight-sssm,
                        $f-size:$f-size-ssm,$line-heig:19px,$color:$C-text-primary,$backgr-color:$bg-white);
                        }
                    }
                }
                .col-4.footer-gethelp{
                    padding-left: 56px;
                
                }
                .col-4.footer-support{
                    padding-left: 67px;
                    border-left: 1px solid #DEDDDC ;
                }
                .col-4.footer-register{
                    padding-left: 105px;
                    border-left: 1px solid #DEDDDC;
                }
            }
        }
    }
    .footer-bottom{
        background: $bg-footer;
        .creator{
            text-align: center;
            margin: 3px;
            padding: 18px 0;
        }
    }
}