
.profile{
    .container-info-user{
        display: flex;
        flex-direction: column;
        .profile-avata{
            margin: 0 auto;
            padding-top: 60px;
            img{
                width: 225px;
                height: 225px;
            } 
        }
    }

    .container-title-history{
        margin: 0 auto;
        padding: 20px 12px;
        .order-history-favourite{
            .line-left-order-history{
                width: 2px;
                height: 62px;
                background-color: $bg-button-buynow-price;
                display: inline-block;
                margin-top: 10px;
                margin-bottom: -8px;
            }
            .order-history{
                @include text($f-wei:$f-weight-sm,
                $f-size:$f-size-ssb,$line-heig:39px,$color:$C-text-pink,);
                padding-left: 32px;
                padding-right: 45px;
                
            }
            .line-between-order-history{
                width: 2px;
                height: 62px;
                background-color: $bg-button-buynow-price;
                display: inline-block;
                margin-top: 10px;
                margin-bottom: -8px;
               
            }
            .line-right-order-history{
                width: 2px;
                height: 62px;
                background-color: $bg-button-buynow-price;
                display: inline-block;
                margin-top: 10px;
                margin-bottom: -8px;
            }
            .favourite{
                @extend .order-history;
                color: $C-text-primary ;
            }
            i{
                display: none;
            }
        }
    }
    
    
    .container-table-history{
        .table-responsive{
            margin-bottom: 100px;
            .time-order{
                @include text($f-size:$f-size-b,$line-heig:16px,
                $color:$C-text-primary);
                letter-spacing: 0.4px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #CB0DC3 0%, #7D0DB1 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                white-space: nowrap;
                width: 150%;
            }
        }

        .quantity-table{
            text-align: end;
            .prev-icon-table{
                width: 50px;
                height: 40px;
                @include text($f-size:$f-size-b,$line-heig:24px);
                text-align: center;
                background-color: $bg-footer;
                border: none;
                margin: 0 8px;
                i{
                text-align: center;

                }
            }
            .number-table{
                width: 50px;
                height: 40px;
                @include text($f-size:$f-size-b,$line-heig:24px);
                text-align: center;
                background-color: $bg-footer;
                border: none;
                margin: 0 8px;
            }
            .next-icon-table{
                width: 50px;
                height: 40px;
                @include text($f-size:$f-size-b,$line-heig:24px);
                text-align: center;
                background-color: $bg-footer;
                border: none;
                margin: 0 8px;
                i{
                    text-align: center;

                }
            }
        }
    }
}